<%= simple_form_for(@cocktail, :html=> { class: 'bg-dark' }) do |f| %>
    <!--<%= f.input :name %>-->
  <div id="doses">
    <%= f.fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div id="doses">
      <%= link_to_add_association 'Add Ingredient', f, :doses %>
    </div>
  </div>
  <%= f.button :submit, 'Update Recipe', class: 'btn btn-outline-secondary my-2'%>
<% end %>