<div class="cocktail-banner text-light">
 <div class="container">
  <h1>Murray's Speakeasy</h1>
 </div>
</div>

<div class="container">

<!-- Button trigger modal -->

<div class="search-bar">
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
    Add Cocktail
  </button>

  <div class="search-form">
    <form action="/cocktails" class="">
      <input type="text" id="search" name="search" class="bg-dark text-light search-input">
      <input type="submit" value="Search" class="btn btn-outline-secondary mx-1">
      <%= link_to 'Clear', cocktails_path, class: "btn btn-outline-secondary" %>
    </form>
  </div>
</div>

  <div class="cards-grid">
    <% @cocktails.each do |c| %>

      <% if c.photo.attached? %>
      <% image_url = cloudinary_url(c.photo.key) %>
      <% else %>
      <% image_url = 'https://source.unsplash.com/1300x600/?' + c.name.gsub(" ", "%20") %>
      <% end %>

      <div class="cocktail-card position-relative" style="background-image: linear-gradient(rgba(0, 0, 0,0.1) 50%,rgba(0, 0, 0, 1)), url(<%= image_url %>)">
        <%= link_to "", cocktail_path(c), class: "stretched-link" %>
        <p><%= c.name %></p>
      </div>
    <% end %>
  </div>
</div>




<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark ">
      <div class="modal-header bg-dark ">
        <h5 class="modal-title h5" id="exampleModalLongTitle">Add a new cocktail</h5>
        <button type="button" class="close text-light btn btn-outline-secondary " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">✖</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'title_form' %>
      </div>
      <%# <div class="modal-footer"> %>
        <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
      <%# </div> %>
    </div>
  </div


